@import './color-variables.scss';

:root {
  @each $theme in $themes {
    $label: map-get($theme, 'label');
    $foreground: map-get($theme, 'foreground');
    $background: map-get($theme, 'background');
    $edge: map-get($theme, 'edge');
    $psuedo: map-get($theme, 'psuedo');
    
    --#{$theme-foreground-var-prefix}-#{$label}: #{$foreground};
    --#{$theme-background-var-prefix}-#{$label}: #{$background};
    --#{$theme-edge-var-prefix}-#{$label}: #{$edge};
  }
}
