$base-size: 1rem !default;
$font-size-divisor: 1 !default;
$fill-size-divisor: 16 !default;
$radius-size-divisor: 4 !default;

$base-size-prefix: 'base-size' !default;
$font-size-prefix: 'font-size' !default;
$fill-size-prefix: 'fill-size' !default;
$radius-size-prefix: 'radius-size' !default;
