$border-width-var-prefix: 'border-width' !default;
$border-width-class-prefix: 'bw' !default;
$border-radius-var-prefix: 'border-radius' !default;
$border-radius-class-prefix: 'br' !default;
$border-color-class-prefix: 'bc' !default;
$border-styles-class-prefix: 'bs' !default;
$theme-var-prefix: 'color' !default;
$theme-foreground-var-prefix: 'fore' !default;
$theme-background-var-prefix: 'back' !default;
$theme-class-prefix: 'ct' !default;
$theme-foreground-class-prefix: 'cf' !default;
$theme-background-class-prefix: 'cb' !default;
$display-class-prefix: 'd' !default;
$overflow-class-prefix: 'o' !default;
$cursor-class-prefix: 'crsr' !default;
$flex-direction-class-prefix: 'fld' !default;
$flex-gap-class-prefix: 'flg' !default;
$flex-size-class-prefix: 'fls' !default;
$flex-basis-class-prefix: 'flb' !default;
$flex-wrap-class-prefix: 'flw' !default;
$align-items-class-prefix: 'ai' !default;
$justify-content-class-prefix: 'jc' !default;
$align-self-class-prefix: 'as' !default;
$font-size-var-prefix: 'font-size' !default;
$font-size-class-prefix: 'fs' !default;
$font-weight-var-prefix: 'font-weight' !default;
$font-weight-class-prefix: 'fw' !default;
$margin-width-var-prefix: 'margin-width' !default;
$margin-width-class-prefix: 'm' !default;
$breakpoint-prefix: 'bp';
$colors-prefix: 'c';
$colors-foreground-prefix: '';
$colors-background-prefix: 'b';
$base-size-prefix: 'szb';
$font-size-prefix: 'szfn';
$fill-size-prefix: 'szfl';
$radius-size-prefix: 'szrd';
$border-width-prefix: 'bsw';
$border-radius-prefix: 'bsr';
$padding-width-var-prefix: 'padding-width' !default;
$padding-width-class-prefix: 'p' !default;
$shadow-var-prefix: 'shadow' !default;
$shadow-class-prefix: 'sh' !default;
$text-align-var-prefix: 'text-align' !default;
$text-align-class-prefix: 'ta' !default;
$base-size-prefix: 'base-size' !default;
$font-size-prefix: 'font-size' !default;
$fill-size-prefix: 'fill-size' !default;
$radius-size-prefix: 'radius-size' !default;
$breakpoint-prefix: 'breakpoint' !default;
